[binaries]
c       = '${NDK_BIN}/armv7a-linux-androideabi21-clang'
cpp     = '${NDK_BIN}/armv7a-linux-androideabi21-clang++'
ar      = '${NDK_BIN}/llvm-ar'
nm      = '${NDK_BIN}/llvm-nm'
strip   = '${NDK_BIN}/llvm-strip'
ranlib  = '${NDK_BIN}/llvm-ranlib'
size    = '${NDK_BIN}/llvm-size'
ld      = '${NDK_BIN}/ld.lld'
c_ld    = '${NDK_BIN}/ld.lld'
objcopy = '${NDK_BIN}/llvm-objcopy'

[host_machine]
system     = 'android'
cpu_family = 'arm'
cpu        = 'armeabi-v7a'
endian     = 'little'

[built-in options]
c_args        = ['-fPIC', '-ffunction-sections', '-fdata-sections']
cpp_args      = ['-fPIC', '-ffunction-sections', '-fdata-sections']
c_link_args   = ['-Wl,--exclude-libs,ALL', '-Wl,--gc-sections']
cpp_link_args = ['-Wl,--exclude-libs,ALL', '-Wl,--gc-sections']

[constants]
# NDK_BIN must be exported in the workflow:
# echo "NDK_BIN=$ANDROID_NDK_ROOT/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_ENV
NDK_BIN = ''